.padding-10{
	padding: 10px;
}
.padding-20{
	padding:20px;
}
.margin-top-12{
	margin-top: 12px;
}
.margin-top-5{
	margin-top: 5px;
}
.left{
	float: left;
}
.right{
	float: right;
}
.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}